#my-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#my-works .works {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#my-works .work img {
  width: 20rem;
  border-radius: 10px;
}