#why-choose-us {
  display: flex;
  margin: 4rem 0rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#why-choose-us .services-grids {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#why-choose-us .grid {
  height: 13rem;
  width: 20rem;
  background: linear-gradient(-10deg, #32a4a8, #050816, #32a4a8);
  border: 1px solid #32a4a8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
#why-choose-us .grid:hover img {
  transform: scale(1.2);
  transition: all .3s ease;
}
#why-choose-us .grid p {
  position: absolute;
  color: #fff;
  font-weight: 600;
}
#why-choose-us .grid img {
  height: 10rem;
  opacity: .3;
}