.myLatest {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.latest {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
}
.latest img {
  height: 13rem;
  width: 20rem;
}