#listings {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#listings .header h4 {
  display: flex;
  color: #fff;
}
#listings .list-grids {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#listings .grid img {
  display: block;
  height: 15rem;
  border-radius: 10px;
}
#listings .grid p {
  font-size: 0.8rem;
  padding: 0rem 1rem;
}